{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}

{% block contents %}
    <a href="{{ path('app_logout') }}">logout</a>
    <img src="{{ asset('images/Elephant.png') }}" alt="elephant">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa doloremque eum, eveniet
        libero, magni nulla optio quae quo ratione saepe, sint sunt temporibus unde vero voluptate voluptatem!</p>
{% endblock %}
