{% extends "base.html.twig" %}

{% block contents %}
    <form method="POST" action="{{ path('app_main') }}">
        <input type="text" placeholder="city" name="city">
        <button type="submit">Submit</button>
    </form>
    {{ weatherShortDescription }}
    <p>
        <a href="{{ path('app_login') }}">Log in</a>
    </p>
    <p>
        <a href="{{ path('app_registration') }}">Log up</a>
    </p>
{% endblock %}