{% extends "base.html.twig" %}

{% block contents %}
    {{ form_start(searchForm) }}
    {{ form_row(searchForm.name) }}
    {{ form_end(searchForm) }}
    <p>
        {{ stolen_data|raw }}
    </p>
{% endblock %}